.container {
    display: flex;
    flex-direction: column;

    width: 1050px;
    height: 400px;
    background-color: #97bbca;
    border-radius: 8px;
    position: absolute;
    top: 150px;
    left: 180px;


    .editAndClose {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        margin-top: 30px;

        span {
            font-size: 30px;
            font-weight: bold;
        }

        button {
            background-color: #97bbca;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;

        }

    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 30px;


        .inputName {
            width: 100%;
            width: 400px;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            max-width: 1000px;
            height: 40px;
            border-radius: 10px;
            padding-left: 20px;
            border: none;

        }
    }

    .saveContainer {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        button {
            width: 150px;
            height: 40px;
            color: white;
            border: none;
            background-color: #5096ff;
            border-radius: 8px;
        }
    }

}